.footer {
    margin-top: 5px;
    display: flex; 
    justify-content: space-between;
    background-color: rgb(173, 225, 246);
    color: darkslategray;
    text-align: center; 
  }
  
  .footer-column {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }
  
  .footer-column a {
    color: darkslategray; 
    text-decoration: none; 
  }
  
  .footer-column a:hover {
    text-decoration: underline; 
  }
  

  