.grid-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px; 
  }
  .herosection{
    background-color: skyblue;
  }
  .card {
    background-attachment: skyblue;
    justify-content: space-between;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
  }
  
  .card h2 {
    margin-bottom: 10px; 
  }
  
  .card button {
    background-color: #007bff;
    color: white;
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px;
    cursor: pointer; 
  }
  
  .card button:hover {
    background-color: #0056b3; 
  }
  