.sidebar {
  display: flex; 
  flex-direction: column; 
  height: 100%;
  color: white; 
  background-color: #343a40; 

}
.button {
  margin-bottom: 100px;
  background-color: skyblue; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, color 0.3s ease; 
  color: black; /* Default text color */
}

.button:hover {
  background-color: blue;
  color: white; /* Hover text color */
}

.nav-item:hover{
  border-radius: 5px; 
 background-color: blue;
}

.logo {
  margin-top: 10px;
  width: 200px; /* Adjust size */
  height: auto; /* Maintain aspect ratio */
  display: inline-block; /* Align with other elements */
}
