.assessment-body{
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
    margin: 0.5rem;
}
.assessment-body-first-half{
    grid-column: 1/2;
}
.assessment-body-second-half{
    grid-column: 2/3;
}
.assessment-grid{
    border: 1px solid black;
    padding-block: 0.3rem;
}