
#formContainer{
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding-block: 2rem;
    border-radius: 5px;
    gap: 1rem;
}
.para{
    text-align: center;
    font-weight: 600;
}
#sMan{
    height: 100px;
    width: 100px;
}
.support-input, .label-input-field textarea{
    width: 100%;
    border-radius: 5px;
    border: 2px solid;
    border-color: gray;
    padding-left: 1rem;
    padding-block: 0.5rem;
}
.label-input-field{
    width: 50%;
}
.support-img{
    display: flex;
    margin: auto;
}




